* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #dddddd;
}

main {
  width: 600px;
  margin: auto;
}

.container {
  background-color: royalblue;
  text-align: center;
  padding: 30px;
}

h1 {
  font-size: 40px;
  font-family: Georgia, serif;
}
h2 {
  font-size: 18px;
  font-family: Georgia, serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.container p, .container h1, .container h2 {
  color: #ffffff;
}

img {
  width: 100%
}

.spacer {
  margin: 40px 0;
}

a, a:link, a:active, a:hover, a:visited {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-decoration: none;
  background-color: royalblue;
  color: #ffffff;
}

a:hover {
  color: royalblue;
  background-color: #dddddd;
}

.title {
  font-family: Georgia, serif;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.greeting {
  font-size: 30px;
}