/*
* Setting the margin and padding for every element to zero(0)
* to avoid unwanted or unneccessary margin and padding.
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, a:hover {
  background-color: #dddddd;
}

main {
  width: 600px;
  margin: auto;
}

/* 
* .container defines the style for the header and the footer
* if applied to them.
*/
.container {
  background-color: royalblue;
  text-align: center;
  padding: 30px;
}

.container p, .container h1, .container h2, a, a:link, a:active, a:hover, a:visited {
  color: #ffffff;
}

/* 
* Styles for the heading tags
*/
h1 {
  font-size: 40px;
}
h2 {
  font-size: 20px;
}

h1, h2, h3, .title {
  font-family: Georgia, serif;
}

/* 
* Styles the link and it's states
*/
a, a:link, a:active, a:hover, a:visited {
  text-decoration: none;
  background-color: royalblue;
}

p, li, a, a:link, a:active, a:hover, a:visited {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

a:hover {
  color: royalblue;
}

/* 
* Image styles
*/
img {
  width: 100%
}

/* 
* Utility styles
*/
.spacer {
  height: 80px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.greeting, .title {
  font-size: 30px;
}

/* 
* Style for the lists
*/
ol, ul {
  list-style-position: inside;
}
